.animals {
  width: 100%;
  height: 200px;
  background: #006993;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .animals .name {
  width: 80px;
  height: 80px;
  color: white;
  border: solid 2px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  